{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/bikes/bike-update.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit {{ bike.brand }} {{ bike.model }}</h1>
    <form method="POST" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="brand">Brand:</label>
            <input type="text" name="brand" id="brand" value="{{ bike.brand }}" required>
        </div>

        <div class="form-group">
            <label for="model">Model:</label>
            <input type="text" name="model" id="model" value="{{ bike.model }}" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" id="description" required>{{ bike.description }}</textarea>
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <select name="category" id="category" required>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if bike.category.id == category.id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn">Update Bike</button>
    </form>
</div>
{% endblock %}
